@font-face {
  font-family: 'element-ui';
  src: url('../font/element-ui.eot?67153834');
  src: url('../font/element-ui.eot?67153834#iefix') format('embedded-opentype'),
       url('../font/element-ui.woff2?67153834') format('woff2'),
       url('../font/element-ui.woff?67153834') format('woff'),
       url('../font/element-ui.ttf?67153834') format('truetype'),
       url('../font/element-ui.svg?67153834#element-ui') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'element-ui';
    src: url('../font/element-ui.svg?67153834#element-ui') format('svg');
  }
}
*/

 [class^="el-icon-i-"]:before, [class*=" el-icon-i-"]:before {
  font-family: "element-ui" !important;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.el-icon-i-video:before { content: '\e800'; } /* '' */
.el-icon-i-search:before { content: '\e801'; } /* '' */
.el-icon-i-mail:before { content: '\e802'; } /* '' */
.el-icon-i-heart:before { content: '\e803'; } /* '' */
.el-icon-i-heart-empty:before { content: '\e804'; } /* '' */
.el-icon-i-star:before { content: '\e805'; } /* '' */
.el-icon-i-star-empty:before { content: '\e806'; } /* '' */
.el-icon-i-videocam:before { content: '\e807'; } /* '' */
.el-icon-i-picture:before { content: '\e808'; } /* '' */
.el-icon-i-camera:before { content: '\e809'; } /* '' */
.el-icon-i-music:before { content: '\e80a'; } /* '' */
.el-icon-i-ok:before { content: '\e80b'; } /* '' */
.el-icon-i-cancel:before { content: '\e80c'; } /* '' */
.el-icon-i-plus:before { content: '\e80d'; } /* '' */
.el-icon-i-minus:before { content: '\e80e'; } /* '' */
.el-icon-i-home:before { content: '\e80f'; } /* '' */
.el-icon-i-link:before { content: '\e810'; } /* '' */
.el-icon-i-attach:before { content: '\e811'; } /* '' */
.el-icon-i-lock:before { content: '\e812'; } /* '' */
.el-icon-i-lock-open:before { content: '\e813'; } /* '' */
.el-icon-i-pin:before { content: '\e814'; } /* '' */
.el-icon-i-eye:before { content: '\e815'; } /* '' */
.el-icon-i-eye-off:before { content: '\e816'; } /* '' */
.el-icon-i-tag:before { content: '\e817'; } /* '' */
.el-icon-i-tags:before { content: '\e818'; } /* '' */
.el-icon-i-bookmark:before { content: '\e819'; } /* '' */
.el-icon-i-thumbs-up:before { content: '\e81a'; } /* '' */
.el-icon-i-thumbs-down:before { content: '\e81b'; } /* '' */
.el-icon-i-forward:before { content: '\e81c'; } /* '' */
.el-icon-i-export:before { content: '\e81d'; } /* '' */
.el-icon-i-pencil:before { content: '\e81e'; } /* '' */
.el-icon-i-comment:before { content: '\e81f'; } /* '' */
.el-icon-i-chat:before { content: '\e820'; } /* '' */
.el-icon-i-bell:before { content: '\e821'; } /* '' */
.el-icon-i-location:before { content: '\e822'; } /* '' */
.el-icon-i-trash-empty:before { content: '\e823'; } /* '' */
.el-icon-i-ok-circled:before { content: '\e824'; } /* '' */
.el-icon-i-cog:before { content: '\e825'; } /* '' */
.el-icon-i-basket:before { content: '\e826'; } /* '' */
.el-icon-i-down-open:before { content: '\e827'; } /* '' */
.el-icon-i-left-open:before { content: '\e828'; } /* '' */
.el-icon-i-right-open:before { content: '\e829'; } /* '' */
.el-icon-i-up-open:before { content: '\e82a'; } /* '' */
.el-icon-i-down:before { content: '\e82b'; } /* '' */
.el-icon-i-left:before { content: '\e82c'; } /* '' */
.el-icon-i-right:before { content: '\e82d'; } /* '' */
.el-icon-i-up:before { content: '\e82e'; } /* '' */
.el-icon-i-right-hand:before { content: '\e82f'; } /* '' */
.el-icon-i-user:before { content: '\e830'; } /* '' */
.el-icon-i-resize-big:before { content: '\e831'; } /* '' */
.el-icon-i-resize-small:before { content: '\e832'; } /* '' */
.el-icon-i-cw:before { content: '\e833'; } /* '' */
.el-icon-i-ccw:before { content: '\e834'; } /* '' */
.el-icon-i-arrows-cw:before { content: '\e835'; } /* '' */
.el-icon-i-off:before { content: '\e836'; } /* '' */
.el-icon-i-qrcode:before { content: '\e837'; } /* '' */
.el-icon-i-check:before { content: '\e838'; } /* '' */
.el-icon-i-megaphone:before { content: '\e839'; } /* '' */
.el-icon-i-emo-happy:before { content: '\e83a'; } /* '' */
.el-icon-i-emo-wink:before { content: '\e83b'; } /* '' */
.el-icon-i-emo-unhappy:before { content: '\e83c'; } /* '' */
.el-icon-i-emo-sleep:before { content: '\e83d'; } /* '' */
.el-icon-i-emo-surprised:before { content: '\e83e'; } /* '' */
.el-icon-i-emo-tongue:before { content: '\e83f'; } /* '' */
.el-icon-i-emo-displeased:before { content: '\e840'; } /* '' */
.el-icon-i-emo-grin:before { content: '\e841'; } /* '' */
.el-icon-i-emo-angry:before { content: '\e842'; } /* '' */
.el-icon-i-emo-cry:before { content: '\e843'; } /* '' */
.el-icon-i-emo-squint:before { content: '\e844'; } /* '' */
.el-icon-i-emo-laugh:before { content: '\e845'; } /* '' */
.el-icon-i-emo-sunglasses:before { content: '\e846'; } /* '' */
.el-icon-i-cancel-circled:before { content: '\e847'; } /* '' */
.el-icon-i-plus-circled:before { content: '\e848'; } /* '' */
.el-icon-i-minus-circled:before { content: '\e849'; } /* '' */
.el-icon-i-help-circled:before { content: '\e84a'; } /* '' */
.el-icon-i-info-circled:before { content: '\e84b'; } /* '' */
.el-icon-i-block:before { content: '\e84c'; } /* '' */
.el-icon-i-attention-circled:before { content: '\e84d'; } /* '' */
.el-icon-i-attention:before { content: '\e84e'; } /* '' */
.el-icon-i-check-empty:before { content: '\f096'; } /* '' */
.el-icon-i-bookmark-empty:before { content: '\f097'; } /* '' */
.el-icon-i-resize-full:before { content: '\f0b2'; } /* '' */
.el-icon-i-menu:before { content: '\f0c9'; } /* '' */
.el-icon-i-mail-alt:before { content: '\f0e0'; } /* '' */
.el-icon-i-comment-empty:before { content: '\f0e5'; } /* '' */
.el-icon-i-chat-empty:before { content: '\f0e6'; } /* '' */
.el-icon-i-bell-alt:before { content: '\f0f3'; } /* '' */
.el-icon-i-spinner:before { content: '\f110'; } /* '' */
.el-icon-i-reply:before { content: '\f112'; } /* '' */
.el-icon-i-star-half-alt:before { content: '\f123'; } /* '' */
.el-icon-i-direction:before { content: '\f124'; } /* '' */
.el-icon-i-ellipsis-vert:before { content: '\f142'; } /* '' */
.el-icon-i-thumbs-up-alt:before { content: '\f164'; } /* '' */
.el-icon-i-thumbs-down-alt:before { content: '\f165'; } /* '' */
.el-icon-i-share:before { content: '\f1e0'; } /* '' */
.el-icon-i-bell-off:before { content: '\f1f6'; } /* '' */
.el-icon-i-bell-off-empty:before { content: '\f1f7'; } /* '' */
.el-icon-i-trash:before { content: '\f1f8'; } /* '' */
.el-icon-i-copyright:before { content: '\f1f9'; } /* '' */
.el-icon-i-at:before { content: '\f1fa'; } /* '' */
.el-icon-i-toggle-off:before { content: '\f204'; } /* '' */
.el-icon-i-toggle-on:before { content: '\f205'; } /* '' */
.el-icon-i-user-secret:before { content: '\f21b'; } /* '' */
.el-icon-i-venus:before { content: '\f221'; } /* '' */
.el-icon-i-mars:before { content: '\f222'; } /* '' */
.el-icon-i-neuter:before { content: '\f22c'; } /* '' */
.el-icon-i-commenting:before { content: '\f27b'; } /* '' */
.el-icon-i-hashtag:before { content: '\f292'; } /* '' */
.el-icon-i-user-circle:before { content: '\f2bd'; } /* '' */
.el-icon-i-user-circle-o:before { content: '\f2be'; } /* '' */
.el-icon-i-user-o:before { content: '\f2c0'; } /* '' */
.el-icon-i-id-card:before { content: '\f2c3'; } /* '' */
